<h1>Create Endorsement</h1>


<%= form_for @endorsement do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.all, :id, :name %>

  <%= f.label :cat_id %>
  <%= f.collection_select :cat_id, Cat.all, :id, :name %>

  <%= f.submit %>
<% end %>